<h2>Show Image</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @image.name %>
  </li>

  <li>
    <strong>Filename:</strong>
    <%= # GB @image.filename %>
    <img height=100 width=auto src="<%=  App.ImageFile.url({@image.filename, @image})%>"
  </li>

</ul>

<span><%= link "Edit", to: image_path(@conn, :edit, @image) %></span>
<span><%= link "Back", to: image_path(@conn, :index) %></span>
